.details-main-container{
    padding: 20px;
    background-color: white;
    width: 55%;
    height: 75vh;
}
.details-main-container img{
    margin-top: 15px;
    width: 250px;
    height: 250px;
    margin-right: 20px;
    align-items: center;
}
h2{
    color: rgb(177, 177, 177);
}
h4{
    color: #90a0f8;
}
.details-child-container{
    margin-top: 15px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 25px;
    box-shadow: 10px 6px 10px -4px rgba(148,148,148,0.75);
}

form{
    text-align: center;
}
form input{
    text-align: center;
    width: 25%;
    border: 0.5s solid rgb(228, 222, 183);;
}
form button{
    width: 25%;
    color: white;
}