<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="Favicon/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>BluPi Child Corner</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Shadows+Into+Light">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="css/regcss.css">

</head>

<body>
    <div class="placeholder" style="background-color : rgb(132,164,238); padding-left: 50px;">
        <div class="parallax-window" data-parallax="scroll" data-image-src="images/sunshinebanner.jpg">
            <div class="tm-header">
                <div class="row tm-header-inner">
                    <div class="row">
                        <a href="/"><img src="/images/logotokotrans.png" alt="Logo" class="tm-site-logo" style="width: 100px ; height: 100px; float: left;" /> </a>
                        <h1 class="tm-site-title" style="font-family: 'Shadows Into Light', cursive;float: left; margin: auto; margin-left: 30px; color: blue;">Blu</h1>
                        <h1 class="tm-site-title" style="font-family: 'Shadows Into Light', cursive;float: left; margin: auto; color: rgb(255, 0, 234);">Pi</h1>
                        <h1 class="tm-site-title" style="font-family: 'Shadows Into Light', cursive;float: left; margin: auto; margin-left: 10px; color: white;"> Child Corner</h1>
                        <div class="tm-site-text-box">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
 
    <section class="login-clean">
        <form action="/register" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" placeholder="username" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="name">Nama</label>
                <input type="text" name="name" placeholder="Nama" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="email">email</label>
                <input type="text" name="email" placeholder="Email" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="password" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="password2">Konfigrmasi password</label>
                <input type="password" name="password2" placeholder="password" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="phone">Nomor Telpon</label>
                <input type="text" name="phone" placeholder="Nomor Telpon" class="form-control" required>
            </div>

            <div class="form-group">
                <label for="address">Alamat</label>
                <input type="text" placeholder="Alamat" name="address" class="form-control" required>
            </div>
            
            <a href="/login">Cancel</a>
            <button type="submit" >Register</button>
        </form>
    </section>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>